* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

figure svg > * {
    opacity: 0;
}

figure svg #ground             { opacity: 0; }
figure.scaffold svg #scaffold  { opacity: 0; }
figure.head     svg #head      { opacity: 0; }
figure.body     svg #body      { opacity: 0; }
figure.arms     svg #arms      { opacity: 0; }
figure.legs     svg #legs      { opacity: 0; }

body {
    height: 100vh;
    
}

header {
    height: 4rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem auto;
}

main section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}



