* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Creepster', cursive;
}

figure svg > * {
    opacity: 0;
}

figure svg #ground             { opacity: 1; }
figure.scaffold svg #scaffold  { opacity: 0; }
figure.head     svg #head      { opacity: 0; }
figure.body     svg #body      { opacity: 0; }
figure.arms     svg #arms      { opacity: 0; }
figure.legs     svg #legs      { opacity: 0; }

body {
    height: 100vh;
    background-color: #ced4da;
    
}

header {
    height: 10rem;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
  }
  header .pumpaFirst {
    width: 5rem;
  }
header .pumpaSecond {
  width: 5rem;
}

header h1 {
  font-family: 'Creepster', cursive;
  font-size: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  
}
 h2{
  text-align: center;
  font-size: 2rem;
}
.startGame{
    visibility: visible;
    padding: 10px;
    margin: 10px;
    font-family: 'Creepster', cursive;
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgb(255, 102, 0);

}

main {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    margin: 2rem auto;
}
main .gridFigure {
  grid-column: auto / span 1;
  
  
}
main svg {
  height: 400px;

}
main section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    grid-column: auto / span 1;
    
  
}
#right-text {
  font-size: 2.5rem;
  font-family: 'Creepster', cursive;
}
#wrong-text {
  font-size: 2.5rem;
  font-family: 'Creepster', cursive;
}

#countdown {
  font-size: 1.5rem;
}

.modal {
  
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding: 5rem;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    transition: all 3s ease;
  }
  

  .modal-content {
    background: url(/hangMan-/images/5963436skylt.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    border: 2px solid black;
    width: 40rem;
    height: 32rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  
  }


  .modal-header {
    padding: 6px 16px;
    color: black;
    display: flex;
    align-items: center;
    justify-content:flex-end;
  }
  
  .modal-body {
    
  margin-top: 5rem;
   padding: 2rem 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
   

}

.modal-body h2 {
    
  padding-right: 2rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  font-weight: lighter;
  }

  .reloadbutton{
    visibility:hidden ;
    padding: 1rem 3rem;
    background-color: orange;
    color: #000;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 2.5rem;
    border-radius: 10px;
}

/* 
.modal-footer {
    margin-top: 10rem;
    
    padding: 2px 16px;
    background-color: orange;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  
  */

  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: orange;
    width: 2rem;
    height: 2rem;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .result {

color: white;
font-size: 3rem;

  }



  /*function timer(){
  countdownEL.innerHTML = `${timeSecond} sekunder kvar!`;

const countDown = setInterval (()=>{
  timeSecond--;
  countdownEL.innerHTML = `${timeSecond} sekunder kvar!`;
  if(timeSecond<0 || timeSecond<1) {
    clearInterval(countDown)
  } if (timeSecond === 0){
    playAgain.style.visibility = `visible`
    document.querySelector(`.result`).innerHTML = `Du förlorade <br> Ordet var: <br> ${chosenWord.join('')}`
    playAgainModal.style.display = "block";
  }
},1000)
}
